Source: ros-groovy-nao-interaction-launchers
Section: misc
Priority: extra
Maintainer: Manos Tsardoulias <etsardou@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-groovy-catkin
Homepage: http://ros.org/wiki/nao_interaction_launchers
Standards-Version: 3.9.2

Package: ros-groovy-nao-interaction-launchers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-nao-audio, ros-groovy-nao-interaction-msgs, ros-groovy-nao-vision
Description: Launchers for bringing up the nodes of nao_interaction metapackage.
