Source: ros-hydro-nao-interaction
Section: misc
Priority: extra
Maintainer: Manos Tsardoulias <etsardou@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/nao_interaction
Standards-Version: 3.9.2

Package: ros-hydro-nao-interaction
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-nao-audio, ros-hydro-nao-interaction-launchers, ros-hydro-nao-interaction-msgs, ros-hydro-nao-vision
Description: Metapackage for the Nao robot, providing access to: - NAOqi audio proxies - NAOqi vision proxies
